@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Bebas Neve", sans-serif;
}

.contenedor_total {
  width: 100%;
  background-color: black;
}

.contenedor-header {
  width: 100%;
  height: 80px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#menu-hamburguesa,
#hamburguesa {
  display: none;
  font-size: 36px;
  color: #f76202;
}

.nav-header {
  padding: 25px;
  display: flex;
  justify-content: center;
}
.nav-ul {
  display: flex;
  gap: 25px;
  font-size: 15px;
  list-style: none;
}
.nav-ul a {
  color: #f76202;
}
.nav-ul a:hover {
  color: crimson;
  transition: 1s;
  transform: scale(2);
}
hr {
  color: #f76202;
}
.contenedor-hero {
  width: 100%;
  height: auto;
  position: relative;
}

.hero_tit {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #f76202;
  text-align: center;
  left: 50%;
  top: 20%;
  margin-left: -150px;
  gap: 150px;
  font-size: 2em;
}
.hero-img img {
  width: 100%;
  display: block;
}
.hero_tit button {
  width: 200;
  height: 50px;
  font-size: 30px;
  border-radius: 15px;
  background: transparent;
}
button:hover {
  box-shadow: 5px 5px 30px rgb(25, 0, 255);
  transform: translateY(-10%);
}
.contenedor-quienes {
  width: 100%;
  height: auto;
  display: flex;
  gap: 10px;

  justify-content: center;
  align-items: center;
  padding: 25px 25px;
}
.quienes-somos {
  width: 50%;
  color: #f76202;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  gap: 10px;
  text-align: center;
}

.quienes-img {
  width: 50%;
}

.quienes-img img {
  width: 100%;
  border: #f76202 solid;
}
.contenedor-cars {
  width: 100%;
  height: auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px 30px;
}
.cars-1 {
  width: 300px;
  height: 325px;
  border: 5px #036418 solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  font-size: 20px;
  background-color: #5cf702;
  box-shadow: 10px 8px 10px rgb(3, 25, 126);
  cursor: pointer;
  transition: all 400ms ease;
}
.cars-1:hover {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 1.5);
  transform: translateY(-3%);
}
.contenedor-ubicacion {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
}
.ubicacion-contacto {
  width: 50%;
  height: auto;
  text-align: center;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  color: #f76202;
  gap: 15px;
  background-image: url(./img/gui.jpg);
  background-position: center;
  background-size: cover;
}
.ubicacion-mapa iframe {
  width: 500px;
  height: 350px;
  padding: 20px;
}
.ubicacion-mapa {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-footer {
  width: 100%;
  height: 100px;
  color: #f76202;
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.footer-copy {
  width: 50%;
  display: flex;

  font-size: 25px;
  font-style: italic;
}
.footer-iconos ul {
  width: 50%;
  display: flex;
  align-items: center;
  font-size: 30px;
  list-style: none;
  gap: 80px;
}

@media (max-width: 980px) {
  .contenedor-ubicacion {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: none;
    gap: 20px;
  }

  .ubicacion-contacto {
    text-align: center;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    color: #f76202;
    gap: 10px;
  }
}

@media (max-width: 900px) {
  #menu-hamburguesa {
    padding-right: 20px;
    display: block;
  }
  .nav-ul {
    background-color: #000000;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    z-index: 10;
  }
  #hamburguesa:checked ~ .nav-ul {
    display: flex;
  }
}

@media (max-width: 762px) {
  .contenedor-quienes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .quienes-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    font-size: 15px;
  }
  .quienes-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contenedor-ubicacion {
    gap: 20px;
  }
}

@media (max-width: 630px) {
  .hero_tit {
    gap: 50px;
    font-size: 2em;
  }
  .contenedor-ubicacion {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: none;
    flex-direction: column;
    gap: 15px;
    padding: 35 0;
  }

  .ubicacion-contacto {
    text-align: center;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    color: #f76202;
    background-image: none;
  }

  .ubicacion-mapa iframe {
    width: 500px;
    height: 300px;
  }
}

@media (max-width: 538px) {
  .contenedor-footer {
    color: #f76202;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    gap: 20px;
  }
  .footer-copy {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-style: italic;
  }
  .footer-iconos ul {
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 20px;
    list-style: none;
    gap: 40px;
  }
}

@media (max-width: 410px) {
  .hero_tit {
    gap: 40px;
    font-size: 1.5em;
    margin-left: -115px;
  }
  .contenedor-ubicacion {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: none;
    flex-direction: column;
    gap: 5px;
    padding: 35 0;
  }

  .ubicacion-contacto {
    text-align: center;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    color: #f76202;
  }

  .ubicacion-mapa iframe {
    width: 500px;
    height: 200px;
  }
}
